@page
@model IndexModel
@using DoAnCuoiKy_KTLT.Entiy

@{
    ViewData["Title"] = "Home page";    
}

<div class="text-center">
    <h1 class="display-4">Product Management Home Screen</h1>
   
</div>
